.form-control:focus {
    color: #495057;
    background-color: #f9f9f9 !important;
    border-color: gray !important;
    outline: 0;
    box-shadow: none !important;
}

.btnorderbookersub {
    background-color: #6f42c1 !important;
    color: white;
}

.sticky {
    position: sticky;
    top: 0;
}

.btnorderbookersub:hover {
    background-color: #fd851a !important;
    color: white;
    transition: .5s;
}

.btn-c {
    background: #0d6efd;
    padding: 6px 6px;
    outline: none;
    border: none;
    border-radius: 4px;
    color: #fff;
    transition: .2s all ease-in-out;
    border: 1px solid #0d63fd;
}

.btn-c:hover {
    background: transparent;
    color: #0d6efd;
    border: 1px solid #0d63fd;
}

.aera {
    box-shadow: 1px 5px 5px 5px lightgrey;
    border-radius: 5px;
}