.App {
  text-align: center;
}

body {
  height: 100%;
  position: relative;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width:700px) {
  .ReactModal__Content {
    width: 300px !important;
  }

  .form-control {
    width: 100% !important;
  }
}

.rs-picker-default {
  z-index: 1 !important;
}

/*Murtaza CSS*/
body{font-family: 'Roboto', sans-serif !important;}
.fontSize-15px{font-size: 15px;}
.purpleGradient{background: #7f5e81; background: -webkit-linear-gradient(to right, #4644ad, #7f5e81); background: linear-gradient(to right, #4644ad, #7f5e81);}
.height-100vh{height: 107vh;}
.scp-shadow{box-shadow: 3px 3px 10px 3px #dddddd;}
.css-34nofg-MuiTableRow-root:last-child td, .css-34nofg-MuiTableRow-root:last-child th, .css-16nxph9:last-child td, .css-16nxph9:last-child th{border: 1px solid #dee2e6 !important;}
.vertical-align-middle{vertical-align: middle !important;}
.overflow-x-hidden{overflow-x: hidden !important;}
.css-1wnsr1i{border: none !important; border-radius: 20px !important;}
.css-j204z7-MuiFormControlLabel-root{margin: 0px !important;}
#padding-zero{padding: 0px;}
.pre-scrollable{overflow-x: hidden;}
.dashboardRecordCards{color: #0b2782; text-shadow: 0 2px 1px #0b2782; font-size: 30px;}
.border-radius-20px{border-radius: 20px;}
body{
  overflow: scroll !important;
}